<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="Settings" type="System.Configuration.AppSettingsSection, System.Configuration.ConfigurationManager" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToRoamingUser"  restartOnExternalChanges="true" requirePermission="false" />
	</configSections>
	<location allowOverride="true" inheritInChildApplications="true">
		<Settings>

			<!--Equipment Config-->
			<add key="RUK" value="RUK1" />

			<!--Connection Strings-->
			<add key="SytelineConnectionString" value="Data Source = GBSYTELINEDB1; Initial Catalog = UK_App; Integrated Security = True; Connection Timeout=3" />
			<add key="EPDConnectionString" value="Data Source = EPDPRODUCTIONDATA; Initial Catalog = EPD_FORTiS; Connection Timeout=3; User Id=ApplicationWriter;Password=ApplicationWriter" />
		
		</Settings>
	</location>
</configuration>
